{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true
  },
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "extends":  [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:jest/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion":  2018,
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": 2,
    "@typescript-eslint/explicit-function-return-type": 2,
    "@typescript-eslint/no-explicit-any": 1,
    "@typescript-eslint/adjacent-overload-signatures": 1,
    "@typescript-eslint/await-thenable": 1,
    "complexity": ["error", 3],
    "max-depth": ["error", 3],
    "max-nested-callbacks": ["error", 3],
    "max-statements": ["error", 5]
  }
}
